Repository jenkinsci/priority-sorter-plugin, pull requests merged in 2021-03, with the labels that each got.

#54 @oleg-nenashev Enable Release Drafter and Dependabot
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  CHANGELOG.md
  README.md
Labels: chore

#48 [JENKINS-58512] - Fix the issues that can not find page which from a extension plugin
  src/main/resources/jenkins/advancedqueue/PriorityConfiguration/index.jelly
Labels: bug

#58 Move changelog to GitHub releases
  README.md
  docs/CHANGELOG.old.md
Labels: documentation

#59 Cleanup getInstance() references and StringBuffer usages
  src/main/java/jenkins/advancedqueue/PriorityConfiguration.java
  src/main/java/jenkins/advancedqueue/PriorityConfigurationPlaceholderTaskHelper.java
  src/main/java/jenkins/advancedqueue/PrioritySorterConfiguration.java
  src/main/java/jenkins/advancedqueue/jobinclusion/JobInclusionStrategy.java
  src/main/java/jenkins/advancedqueue/jobinclusion/strategy/FolderBasedJobInclusionStrategy.java
  src/main/java/jenkins/advancedqueue/jobinclusion/strategy/PropertyBasedJobInclusionStrategy.java
  src/main/java/jenkins/advancedqueue/jobinclusion/strategy/ViewBasedJobInclusionStrategy.java
  src/main/java/jenkins/advancedqueue/priority/PriorityStrategy.java
  src/main/java/jenkins/advancedqueue/priority/strategy/AbstractDynamicPriorityStrategy.java
  src/main/java/jenkins/advancedqueue/priority/strategy/AbstractStaticPriorityStrategy.java
  src/main/java/jenkins/advancedqueue/priority/strategy/BuildParameterStrategy.java
  src/main/java/jenkins/advancedqueue/sorter/AdvancedQueueSorter.java
  src/main/java/jenkins/advancedqueue/sorter/SorterStrategy.java
Labels: chore
