Repository jenkinsci/priority-sorter-plugin, pull requests merged in 2023-12, with the labels that each got.

#69 [JENKINS-69751] Add sorting for blocked projects
  src/main/java/jenkins/advancedqueue/sorter/AdvancedQueueSorter.java
  src/test/java/jenkins/advancedqueue/test/SortBlockedItemsTest.java
  src/test/resources/jenkins/advancedqueue/test/SortBlockedItemsTest/jenkins.advancedqueue.PriorityConfiguration.xml
  src/test/resources/jenkins/advancedqueue/test/SortBlockedItemsTest/jenkins.advancedqueue.PrioritySorterConfiguration.xml
Labels: bug

#319 Add code formatting instructions to contribution guide
  CONTRIBUTING.md
Labels: documentation

#318 Document an example use-case
  README.md
  docs/images/ExampleGlobalConfiguration.png
  docs/images/ExampleJobGroups.png
  docs/images/JobPriorities.png
  src/main/resources/jenkins/advancedqueue/priority/strategy/BuildParameterStrategy/config.properties
Labels: documentation

#320 Remove flaky test
  src/test/java/jenkins/advancedqueue/test/MatrixTest.java
Labels: tests

#324 Use spotbugs 4.8.2
  pom.xml
  src/main/java/jenkins/advancedqueue/PrioritySorterConfiguration.java
Labels: chore, dependencies

#325 Replace deprecated javax annotation with spotbugs annotation
  src/test/java/org/kohsuke/stapler/MockStaplerRequest.java
Labels: chore, tests
