Repository jenkinsci/priority-sorter-plugin, pull requests merged in 2025-01, with the labels that each got.

#423 Add test for JobInclusionJobProperty class
  src/test/java/jenkins/advancedqueue/jobinclusion/strategy/JobInclusionJobPropertyTest.java
Labels: tests

#428 Added tests for JobPropertyStrategy class
  src/main/java/jenkins/advancedqueue/priority/strategy/JobPropertyStrategy.java
  src/test/java/jenkins/advancedqueue/priority/strategy/JobPropertyStrategyTest.java
Labels: tests

#429 Add test for SorterStrategyDescriptor class
  src/test/java/jenkins/advancedqueue/sorter/SorterStrategyDescriptorTest.java
Labels: tests

#435 Add test for BuildParameterStrategy class
  src/test/java/jenkins/advancedqueue/priority/strategy/BuildParameterStrategyTest.java
Labels: tests

#434 Add test for PrioritySorterJobColumn class
  src/test/java/jenkins/advancedqueue/sorter/PrioritySorterJobColumnTest.java
Labels: tests

#432 Add test for MultiBucketStrategy class
  src/main/java/jenkins/advancedqueue/sorter/strategy/MultiBucketStrategy.java
  src/test/java/jenkins/advancedqueue/sorter/strategy/MultiBucketStrategyTest.java
Labels: tests

#437 Add tests for PriorityJobProperty class
  src/test/java/jenkins/advancedqueue/priority/strategy/PriorityJobPropertyTest.java
Labels: tests

#440 Use existing view in the job group test
  src/test/java/jenkins/advancedqueue/priority/strategy/PriorityJobPropertyTest.java
Labels: tests

#449 Migrate from EE 8 to EE 9
  pom.xml
  src/main/java/jenkins/advancedqueue/PriorityConfiguration.java
  src/main/java/jenkins/advancedqueue/priority/strategy/PriorityJobProperty.java
  src/main/java/jenkins/advancedqueue/sorter/strategy/MultiBucketStrategy.java
  src/test/java/jenkins/advancedqueue/priority/strategy/PriorityJobPropertyTest.java
  src/test/java/jenkins/advancedqueue/test/SubmitTest.java
  src/test/java/org/kohsuke/stapler/MockStaplerRequest.java
Labels: dependencies, tests, internal

#396 Use Java 17 language features where possible
  pom.xml
  src/main/java/jenkins/advancedqueue/JobGroup.java
  src/main/java/jenkins/advancedqueue/PriorityConfiguration.java
  src/main/java/jenkins/advancedqueue/PriorityConfigurationPlaceholderTaskHelper.java
  src/main/java/jenkins/advancedqueue/jobinclusion/strategy/FolderPropertyLoader.java
  src/main/java/jenkins/advancedqueue/jobinclusion/strategy/PropertyBasedJobInclusionStrategy.java
  src/main/java/jenkins/advancedqueue/jobinclusion/strategy/ViewBasedJobInclusionStrategy.java
  src/main/java/jenkins/advancedqueue/priority/strategy/JobPropertyStrategy.java
  src/main/java/jenkins/advancedqueue/sorter/AdvancedQueueSorter.java
  src/main/java/jenkins/advancedqueue/sorter/ItemInfo.java
  src/main/java/jenkins/advancedqueue/sorter/StartedJobItemCache.java
  src/test/java/jenkins/advancedqueue/sorter/strategy/FQStrategyTest.java
Labels: dependencies, tests, rfe

#445 Add test for PriorityConfigurationPlaceholderTaskHelper class
  pom.xml
  src/test/java/jenkins/advancedqueue/PriorityConfigurationPlaceholderTaskHelperTest.java
Labels: tests
